@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.gradientgreen {
  background: linear-gradient(
    114.67deg,
    #abd699 25.68%,
    rgba(117, 201, 183, 0.84) 96.13%
  );
}

.homeColor {
  position: absolute;
    top: 31%;
    left: 12%;
    /* top: 77px; */
    color: rgba(47, 69, 84, 0.82);
    font-weight: 700;
    line-height: 2;
    font-size: 21px;
}


.homeColor div{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
  line-height: 38px;
  color: #EDF8FF;
}

.media{
  top:57%;
  left: 12%;
}

